body {
  margin: 0;
  font-family:  'Open sans' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-7ctihp-MuiTypography-root{
  font-family: "Open sans " !important;
}